API_ID=32295470
API_HASH=6e34e1d7436b93c2009e7d41742
OWNER_ID=7736277864
LOGGER_ID=-1003866981702
BOT_TOKEN=8919377622:AAGpPoSshPFUfDdHvEBRgsVz4W9NN462JK0
STRING_SESSION=BQHsyi4AQEGk_UsteVoAyyR_bAKcQv9I3ZlIEdTLZekYugFkTHtdW7NOcZtnt7JcDlcl_QLxZDIOsOG_gp1_1O4bGWYstNzoBRueT-h_7M7Rkb-5yJDoggCZ6t3vGSFrgC4pATud1As96XkNBV4Em9Uu4McS97r2QG5Tpy24_291DBHgWdnH_mTZUct700Wk-I6xp4REjJf2sXygs3x6rnFx1fzi0GFyK10br9LsyqLg6ecxqJe2FlJ4qknlpkR6XHjm3S9cDUqwvR25hVn46hzUO0v2kWbQQ7VSgbBijx94Rr21fKY4c_eBYbXit-YlaUlRXt9ccZOMdG6A_rm_19L83ZGiwQAAAAIN_W7LAA
MONGO_DB_URI=mongodb+srv://hemalmd817:hemalmd817@cluster0.ltlkkki.mongodb.net/?appName=Cluster0
COOKIE_URL=
API_KEY=
API_URL=
VIDEO_API_URL=
